img.mini{
    max-height: 32px;
}
img.argentina{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/arg");
}
img.bolivia{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/bol");
}
img.brasil{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/bra");
}
img.chile{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/chi");
}
img.colombia{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/col");
}
img.equador{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/ecu");
}
img.eua{
    content:url("https://api.fifa.com/api/v1/picture/flags-sq-4/usa");
}
img.mexico{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/mex");
}
img.paraguai{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/par");
}
img.peru{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/per");
}
img.uruguai{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/uru");
}
img.venezuela{
    content: url("https://api.fifa.com/api/v1/picture/flags-sq-4/ven");
}